{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}

  {{ if .Site.Params.showAuthorOnHomepage }}
    {{ partial "author-large.html" . }}
  {{ end }}

  <div class="intro" style="padding: 40px; background-color: #282828;">
    <h1 style="color: #A2A49E;"><img src="/images/sideeffect-logo.png" width="200"/>&nbsp;{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ 
end }}</h1>
    <div><p class="intro.content" style="color: #A2A49E;">As a seasoned software architect with extensive experience, I founded Side Effect to provide 
top-notch architectural 
services to companies seeking mobile development expertise. Throughout my career working in both small and large businesses, I have faced various challenges. In this blog, I 
share some of my experiences and lessons learned. I hope you find it enjoyable to read.</p></div>
  </div>
  <div>
  {{ if .Site.Params.showPostsOnHomepage }}
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
    {{ range $paginator.Pages }}
      {{ .Render "summary" }}
    {{ end }}
    {{ partial "paginator" . }}
  {{ end }}
  </div>
{{ end }}

{{ define "footer_js" }}
{{ end }}
