<div class='header'>
  <table>
    <tr>
      <th>
        <a class="header-logo" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
      </th>
{{ if .Site.Data.social.links }}
      <th style="text-align: right;">
  <div class="footer-social">
    {{ range .Site.Data.social.links }}
    <span class="social-icon social-icon-{{ .name | urlize }}">
      <a href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener">
        <img src="{{ .image | relURL }}" width="24" height="24" alt="{{ .name }}"/>
      </a>
    </span>
    {{ end }}
  </div>
  {{ end }}
      </th>
    </tr>
  </table>
  <div class="menu-main">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq (.URL | relLangURL) ($currentPage.RelPermalink | relLangURL)) }}
      <li class="menu-item-{{ .Name | lower }} {{ if $active }}active{{ end }}">
        <a href="{{.URL}}">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
      </li>
      {{end}}
    </ul>
  </div>
  <div id="toggle-menu-main-mobile" class="hamburger-trigger">
    <button class="hamburger">Menu</button>
  </div>
</div>
